In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:/programming-no-gdrive/DASH/Air Pollution/descriptive-output/exploration/48_029_0032-hour_nulls-2000.csv')

In [4]:
data

     no  no2  nox  o3
0   365  365  365   1
1   365  365  365   1
2   365  365  365   1
3   365  365  365   1
4   365  365  365   1
5   365  365  365   1
6   365  365  365   1
7   365  365  365   1
8   365  365  365   1
9   365  365  365   1
10  365  365  365   1
11  365  365  365   1
12  365  365  365   1
13  365  365  365   1
14  365  365  365   2
15  365  365  365   2
16  365  365  365   2
17  365  365  365   2
18  365  365  365   1
19  365  365  365   1
20  365  365  365   1
21  365  365  365   1
22  365  365  365   1
23  365  365  365   1

In [5]:
data2 = pd.read_csv('D:/programming-no-gdrive/DASH/Air Pollution/descriptive-output/exploration/48_029_0046-hour_nulls-2000.csv')

In [6]:
data2

    no  no2  nox   o3
0    0    0    0  365
1    0    0    0  365
2    0    0    0  365
3    0    0    0  365
4    0    0    0  365
5    0    0    0  365
6    0    0    0  365
7    0    0    0  365
8    0    0    0  365
9    0    0    0  365
10   0    0    0  365
11   0    0    0  365
12   0    0    0  365
13   0    0    0  365
14   0    0    0  365
15   0    0    0  365
16   0    0    0  365
17   0    0    0  365
18   0    0    0  365
19   0    0    0  365
20   0    0    0  365
21   0    0    0  365
22   0    0    0  365
23   0    0    0  365

In [7]:
data3 = pd.read_csv('D:/programming-no-gdrive/DASH/Air Pollution/descriptive-output/exploration/48_183_0001-hour_nulls-2000.csv')

In [8]:
data3

    no  no2  nox  o3
0    4    4    4   4
1    4    4    4   4
2    5    5    5   5
3    4    4    4   4
4    4    4    4   4
5    4    4    4   4
6    4    4    4   4
7    4    4    4   4
8    4    4    4   4
9    4    4    4   4
10   4    4    4   4
11   5    5    5   5
12   5    5    5   5
13   5    5    5   5
14   5    5    5   5
15   5    5    5   5
16   5    5    5   5
17   4    4    4   4
18   4    4    4   4
19   4    4    4   4
20   4    4    4   4
21   4    4    4   4
22   4    4    4   4
23   4    4    4   4